@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-ink text-zinc-100 antialiased;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
